@import "reset.css";
@import "header.css";
@import "container.css";

:root {
  --main-grey-color: #e9ecf3;
  --main-purple-color: #ffffff;
  --main-text-color: #4a4a4a;
}

body {
  font-family: "Nanum Gothic", sans-serif;
  margin-top: 100px;
  color: var(--main-text-color);
  transition: all 0.2s linear;
}

.dark-mode {
  background-color: #121212;
  opacity: 70%;
  color: #ffffff !important;
  --main-grey-color: #3c4042;
  --main-text-color: #ffffff;
  --main-purple-color: #bb86fc;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 24px;
  font-weight: 700;
  padding: 10px;
}

main {
  padding: 30px 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover,
a:hover i {
  background: var(--main-purple-color);
  background: -webkit-linear-gradient(left, #c0392b, #8e44ad);
  background: -moz-linear-gradient(left, #c0392b, #8e44ad);
  background: -o-linear-gradient(left, #c0392b, #8e44ad);
  background: linear-gradient(left, #c0392b, #8e44ad);
  background-clip: text;
  -webkit-background-clip: text;
  color: tranparent;
  -webkit-text-fill-color: transparent;
}

i {
  line-height: normal !important;
}
